/* Search Form Close Search Button */

.closeSearchButton {
  align-items: center; 
  background: none;
  border: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.closeSearchButton:active {
  background-color: #666;
}

.closeSearchButton svg {  
  fill: var(--white);
}
