/* Search Form Speech Recognition Button */

.speechRecognitionButton {
  align-items: center; 
  background: none;
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;
}

.speechRecognitionButton:active {
  background-color: #666;
}

.speechRecognitionButton svg {  
  fill: var(--text);
}

.speechRecognitionButton.active svg {
  fill: #00C853;
}
