/* Search Form Input */

.input {
  background-color: var(--input);
  border: 0;
  border-top: 1px solid var(--input-border);
  border-bottom: 1px solid var(--input-border);
  color: var(--text);
  font-size: 18px;
  height: 44px;
  width: 100%;
}

.input:focus {
  outline: none;
}


.input::-webkit-search-decoration,
.input::-webkit-search-cancel-button,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration {
  cursor: pointer;
  height: 24px;
  padding-right: 8px;
  width: 24px;
}

