/* Camera Mute Button CSS Module */

.muteButton {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  bottom: 20px;
  color: white;
  cursor: pointer;
  left: 10px;
  font-size: 22px; 
  height: 45px;
  padding: 5px 10px; 

  position: relative;
  width: 45px; 
  z-index: 9999;
}

.muteButton svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
