/* Federated Access with Google Button */

.googleButton {
  align-items: center;
  background: none;
  border: 2px solid var(--text);
  border-radius: 10px;
  color: var(--text);
  display: flex;
  font-size: var(--font-size);
  font-weight: bold;
  gap: 16px;
  height: 44px;
  justify-content: flex-start;
  margin-bottom: 32px;
  padding-left: 24px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

.googleButton:active {
  background-color: var(--active-button);
}

.googleButton svg {
  fill: var(--text);
}
