/* Federated Access with Google Button */

.googleButton {
  background: none;
  border: 1px solid var(--text);
  border-radius: 10px;
  color: var(--text);
  font-size: 18px;
  margin-bottom: 40px;
  padding: 16px;
  text-transform: uppercase;
  width: 100%;
}

.googleButton:active {
  background-color: var(--active-button);
}
