/* Authentication Login Form */

.loginForm {
  width: 100%;
}

.loginForm label {
  color: var(--text-primary);
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
}

.loginForm input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--input-text);
  font-size: 18px;
  height: 44px;
  padding: 0 8px;
  width: 100%;
}

.loginForm input:focus {
  outline: none;
}

.loginForm button[type="submit"] {
  align-items: center;
  background-color: var(--button-bg);
  border: 1px solid var(--button-border);
  border-radius: 5px;
  color: var(--button-text);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin: 24px 0 40px 0;
  text-transform: uppercase;
  user-select: none; /* add to global button selector */
  width: 100%;
}

.loginForm button[type="submit"]:active {
  background-color: var(--button-active);
}
