/* Authentication Login Form */

.loginForm {
  background-color: var(--background);
  color: var(--text);
  height: 100dvh;
  max-width: 500px;
  width: 100%;
}

.loginForm input {
  background-color: var(--input);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  height: 44px;
  margin-bottom: 32px;
  width: 100%;
}

.loginForm input:focus {
  outline: none;
}

.loginForm svg {
  fill: var(--text);
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.loginForm button[type="submit"] {
  align-items: center;
  background: var(--text);
  border: 1px solid var(--background);
  border-radius: 10px;
  color: var(--background);
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 32px;
  padding: 16px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}
