/* Authentication Registration Flow */

.registration {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 500px;
  padding: 16px;
  width: 100%;
}

  /* Logo placeholder */
.registration div:first-of-type {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
}
