/* Authentication Registration Form */

.registration {
  color: var(--text);
  padding: 16px;
  width: 100%;
}

.registration h1 {
  font-size: 24px;
  font-weight: normal;
  padding: 16px 0;
  text-align: center;
}

.registration > div {
  position: relative;
  margin-bottom: 32px;
} 

.registration > div > input {
  background-color: var(--input);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  font-size: 18px;
  height: 44px;
  padding-left: 48px;
  width: 100%;
}

.registration > div:last-child {
  margin-bottom: 0;

  border: 1px dashed red;
}

.registration > div > input:focus {
  outline: none;
}

.registration > div > input::placeholder {
  color: var(--text);
  opacity: 0.6;
}

.registration > div > svg {
  fill: var(--text);
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.registration details {
  color: var(--text);
  font-size: 14px;
  line-height: 1.6;
  margin: 16px 0;
}

.registration summary {
  cursor: pointer;
  font-size: 12px;
  width: 160px;
}

.registration ul {
  list-style-type: none;
  padding-left: 0;
  margin: 5px 0 0 0;
}

.registration li {
  margin-left: 12px;
}


.registration button[type="submit"] {
  align-items: center;
  background: var(--text);
  border: 1px solid var(--background);
  border-radius: 10px;
  color: var(--background);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}
