/* Bottom Nav Profile Button */

.profileButton {
  align-items: center; 
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  /* Optional: subtle touch feedback */
  transition: opacity 0.15s ease;
  user-select: none;

  /* copy to active state: */
  border: 1px solid red;
  border-radius: 5px;
}

.profileButton:active {
  opacity: 0.7;

  border: 1px solid #ffffff0d;
  border-radius: 5px;
}
