/*!***************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/LoadingSpinner/styles.module.css ***!
  \***************************************************************************************************/
@keyframes hM4c7jIc3EU9mwjKA04L {
  from {
   transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.JSakJNmRTraPgvlafis2 {
  animation: hM4c7jIc3EU9mwjKA04L .7s linear infinite;
  display: block;
  height: 30px;
  margin: 26.5px auto;
  /* position: static !important; */
  width: 50px;

  /* should break the following out to a global class and give access to mode color */
  fill: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Modal/styles.module.css ***!
  \******************************************************************************************/

.gTBhxCBzmYg5BXVhWhQ4 {
  padding: 0;
}

.g720kPVFBPRFdesYC3Ps {
  width: 100%;
  height: 100%;
}

/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/@sswahn/components/src/core/Checkbox/styles.module.css ***!
  \***********************************************************************************************************************/
/* Checkbox css */

.MYOOGZypCvXDCvSQ2cJu {
  align-items: center;
  display: flex;
  position: relative;
}

.MYOOGZypCvXDCvSQ2cJu svg {
 /* position icon on top of checkbox */
  display: block;
  height: 20px;
  left: 12px;
  position: absolute;
  width: 20px;
  z-index: 9999;
}

.LPW2dGdpmmgzrsLz1j07 {
  cursor: pointer;
  font-size: 16px;
  margin-left: 40px;
}

.XXvTD5hVeZRdzaWL61dj {
 /* make checkbox small enough to hide behind icon*/
  height: 1px;
  left: 0;
  position: absolute;
  width: 1px;
}

.KVCkww0N0fpkUDntGrYJ {
  cursor: pointer;
}

/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/@sswahn/components/src/core/Dropdown/styles.module.css ***!
  \***********************************************************************************************************************/
/* Dropdown css */

.XLR1BQDf93Oc7O5sjMBw button {
  cursor: pointer;
  display: flex;
}

.i8CDqqV3cuK9QOv3wu8G {
  margin-right: 10px;
}

.XLR1BQDf93Oc7O5sjMBw menu {
  border: 1px solid black;
  list-style-type: none;
  padding-left: 0;
  width: 150px;
}

.NzB9dtdiGLz9qnv8K5i2 {
  display: block;
}

.d_2DqaWL8jflrPhEeL4g {
  display: none;
}

.XLR1BQDf93Oc7O5sjMBw li {
  border-top: 1px solid black;
  cursor: pointer;
  display: flex;
  padding: 5px 10px;
}

.XLR1BQDf93Oc7O5sjMBw li:first-child {
  border-top: 0;
}

.XLR1BQDf93Oc7O5sjMBw li:hover {
  background-color: #eee;
}

/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/@sswahn/components/src/core/Modal/styles.module.css ***!
  \********************************************************************************************************************/

.TrPWaiMh802Jf0UqdQ4A {
  padding: 0;
}

.GseQqrUxv0wmqbZXFRwZ {
  width: 100%;
  height: 100%;
}

/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/@sswahn/components/src/core/Search/styles.module.css ***!
  \*********************************************************************************************************************/

.DuL04b5xLBJhwUtKxFxl {
  
}

/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/@sswahn/components/src/core/Sidebar/styles.module.css ***!
  \**********************************************************************************************************************/
/* Sidebar css */

.vU90JTs3Go1n_dztAXzL {
  background-color: white;
  border-left: 1px solid gray;
  height: 100%;
  max-width: 500px;
  position: absolute;
  top: 0;
  transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
  width: 100%;
  z-index: 999;
}

.FMm9ObyQFWt1c87zStjC {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
  opacity: 0;
  max-width: 0; /* Set initial max-width to 0 */
  transition: opacity 0.3s, max-width 0s 0.3s; /* Add delay to max-width transition on close */
}

.cDen8dpbgTz95DpW1yga {
  opacity: 1;
  max-width: 100%; /* Set max-width to 100% on open */
  transition: opacity 0.3s;
}

.Jg_qLmTiIIM2fIpkB6eA {
  opacity: 0;
}

.jACmilPAql5MEU7FSUGA {
  right: 0;
  transform: translateX(0);
}

.A39U7d8gkGO6QyKcFONw {
  right: -500px;
  transform: translateX(0);
}

/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/@sswahn/components/src/core/Tabs/styles.module.css ***!
  \*******************************************************************************************************************/
/* Tabs css */

.UNtbvMSda6b4bndc7dJE nav:first-child {
  display: flex;
  margin-bottom: 10px;
}

.UNtbvMSda6b4bndc7dJE button {
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.UNtbvMSda6b4bndc7dJE section {
  padding: 10px;
  border: 1px solid #ddd;
}

/*!*******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Avatar/styles.module.css ***!
  \*******************************************************************************************/

.RTGieKjV1a9U28aim8Yf {
  font-size: 35px;
  padding-right: 5px;
  position: relative;
}

/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Dropdown/styles.module.css ***!
  \*********************************************************************************************/
/* Dropdown css */

.BenFiZ_eg7uUmffHIbvw button {
  border: 0;
  cursor: pointer;
  display: flex;
  margin: 3px 10px 0 0;
}

.hDbts_Mt0Vm3zF1CfPZv {
  margin-right: 10px;
  width: 20px;
}

.hDbts_Mt0Vm3zF1CfPZv svg {
  fill: white;
}

.BenFiZ_eg7uUmffHIbvw menu {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  color: white;
  list-style-type: none;
  padding-left: 0;
  position: absolute;
  right: 10px;
  width: 200px;
}

.dd8ImTIeZy1JpTI6jyMv {
  display: block;
}

._jbaahJ9sY7rSUzB9unW {
  display: none;
}

.BenFiZ_eg7uUmffHIbvw li {
  border-top: 1px solid black;
  cursor: pointer;
  display: flex;
  padding: 10px 20px;
}

.BenFiZ_eg7uUmffHIbvw li:first-child {
  border-top: 0;
}

.BenFiZ_eg7uUmffHIbvw li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
/* css global classes */

:root {
  --dark-mode-background: black;
  --dark-mode-color: white;
  --dark-mode-background-secondary: #111;
  --dark-mode-background-tertiary: #222;
  --dark-mode-background-quaternary: #333;
  --dark-mode-border-color: white;

  

  --light-mode-background: white;
  --light-mode-color: black;

  
}


@font-face {
  font-family: 'Roboto';
  src: url(/devour-clone/fc2b5060f7accec5cf74.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.header {
  background: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.sidebar {
  background-color: white;
  border-left: 1px solid gray;
  height: 100%;
  max-width: 500px;
  position: absolute;
  top: 0;
  transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
  width: 100%;
  z-index: 9999;
}

.sidebar-open {
  right: 0;
  transform: translateX(0);
}

.sidebar-close {
  right: -500px;
  transform: translateX(0);
}

.sidebar-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
  opacity: 0;
  max-width: 0; /* Set initial max-width to 0 */
  transition: opacity 0.3s, max-width 0s 0.3s; /* Add delay to max-width transition on close */
}

.sidebar-openOverlay {
  opacity: 1;
  max-width: 100%; /* Set max-width to 100% on open */
  transition: opacity 0.3s;
}

.sidebar-closeOverlay {
  opacity: 0;
}

.sidebar-btn {
  background: none;
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 22px; 
  height: 45px;
  margin: 6px 8px 0 auto;
  padding-top: 5px;
  position: relative;
  width: 45px; 
}

.sidebar-btn:hover .tooltip,
.icon-btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.search-btn {
  float: left;
  margin: 0 5px 0 5px;
}

.tooltip {
  background-color: #575a62;
  border-radius: 5px;
  bottom: -30px;
  font-size: 12px;
  left: 0px;
  opacity: 0;
  padding: 4px 8px;
  position: absolute;
  transition: opacity 0.3s, visibility 0.3s;
  visibility: hidden;
}



.search {
  border: 1px solid black;
  border-radius: 5px; 
  float: left; /* consider using margin: auto instead of float */
  font-size: 15px;
  height: 29px;
  margin: 9px 0 15px 15px;
  padding: 4px 8px;
  width: 425px;
  max-width: 425px;
}

.sidebar-btn-container {
  border-top: 1px solid black;
  clear: both;
  margin-top: 12px;
  padding-top: 0;
}

.sidebar-avatar {
  display: flex;
  font-size: inherit !important; 
  padding: 0 !important;
}

/*
.sidebar-user {
  padding-top: 4px;
}
*/

.navigation {  
  background: none;
  border: 0;
  border-bottom: 1px solid black;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0 20px 20px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: 100%;
}

.navigation:hover {
  background-color: #faf9f6;
}

.navigation span {
  margin-left: 30px;
}

.badge {
  background-color: darkorange;
  border-radius: 50%;
  font-size: 12px;
  height: 15px;
  left: 25px;
  position: absolute;
  top: 10px;
  width: 15px;
}

.notifications-badge {
  background-color: darkorange;
  border-radius: 50%;
  height: 8px;
  left: 30px;
  position: absolute;
  top: 15px;
  width: 8px;
}

.modal {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px !important;
  width: 500px;
}

.preview-modal,
.camera-modal {
  background: none;
  border: 0;
  height: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
}

.icon-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 22px; 
  height: 45px;
  position: relative;
  width: 45px; 
}

.icon-btn svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-btn:active {
  background-color: rgba(0, 0, 0, 0.9);
}

.icon-btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.icon-btn-alt {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 22px; 
  height: 45px;
  position: relative;
  width: 45px; 
}

.icon-btn-alt svg { /* consider only getting rid of -alt and only using .icon-btn for all icon buttons */
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-btn-alt:hover .tooltip {
  visibility: visible;
  opacity: 1;
}




.auth-form {
  border: 0 !important;
}


/* List */

.list {
  
}

.list-header {
  
}

.list-content {
  
}

.list-actions {
  
}

/* Card */

.card {
  margin: 0 auto;
  max-width: 500px;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.flash-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity 50ms linear; /* Fast transition */
}

.flash {
  opacity: 1;
}

.card-header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  height: 60px;
  /*left: 50%;*/
  max-width: 500px;
  position: fixed;
  top: 0;
 /* transform: translateX(-50%);*/
  width: 100%;
  z-index: 999;
}

.camera-light-btn {
  background: none;
  border: 0;
  color: white;
  fill: white;
  cursor: pointer;
  font-size: 18px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
  z-index: 9999;
}

.camera-back-btn {
  background: none;
  border: 0;
  left: 0px;
  color: white;
  fill: white;
  cursor: pointer;
  font-size: 18px;
  height: 100%;
  position: absolute;
  top: 0px;
  width: 50px;
  z-index: 9999;
}

.camera-light-btn:hover .tooltip,
.camera-back-btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.card-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.card-actions {
  bottom: 0; 
  left: 0; 
  padding: 0; 
  position: absolute; 
  width: 100%;
}

.camera { 
  object-fit: cover;
  height: 100%;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  max-width: 100%;
  width: 100%;

  will-change: transform, opacity;
  transform: translateZ(0);
}

.camera-button-container { 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  margin: 0 auto 25px auto;
  padding: 10px;
  width: 78px;
}

.camera-button {
  background-color: #e5e4e2;
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  height: 56px;
  padding: 0 26px; 
}

.camera-button:hover {
  background-color: #f2f3f4;
}

.camera-button:active {
  background-color: #cb4154;
}

.camera-navigation {
  background: none; 
  border-radius: 10px; 
  bottom: 10px; 
  display: flex; 
  flex-direction: column; 
  height: 250px; 
  justify-content: space-between; 
  padding: 20px 0; 
  position: absolute; 
  right: 10px; 
  width: 50px; 
  z-index: 9999;
}

.video-mute {
  bottom: 20px;
  left: 10px;
  padding: 5px 10px; 
  position: absolute;
  z-index: 9999;
}

.video-timer {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white; 
  font-size: 24px;
  font-weight: bold;
  left: 50%;
  top: 10px;
  padding: 5px 10px;
  position: absolute;
  transform: translateX(-50%);
}

.post-form {
  background-color: #202124; 
  height: 100%; 
  max-height: 100%;  
  max-width: 500px; 
  width: 100%;
}

.post-form-submit {
  position: absolute; 
  bottom: 0;
}

.user-header {
  align-items: center;
  color: white;
  display: flex;
  padding: 10px 0 0 10px;
}

.user-header svg {
  fill: white;
}

.header-text button {
  background: none;
  border: 0;
  color: white;
  font-size: 15px; 
  font-weight: bold;
  margin-left: 1px;
}

.header-text > div:last-child {
  color: gray;
  font-size: 12px;
  font-weight: normal;
  margin-left: 5px;
}

.media-component {
  height: 100%;
  overflow-x: scroll; 
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  width: 100%;
}

.video-controls {
  display: flex; 
  position: absolute; 
  top: 5px; 
  right: 45px; 
  z-index: 9999;
}

.video-controls button {
  font-size: 16px;
}

.media-item {
  object-fit: cover;
  display: inline-block;
  height: 100%;
  pointer-events: none;
  scroll-snap-align: center;
  width: 100%;
}

.cheveron-right {
  position: absolute; 
  right: 0; 
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}

.cheveron-left {
  position: absolute; 
  left: 0; 
  top: 50%; 
  transform: translateY(-50%);
  z-index: 9999;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
  list-style: none;
  position: absolute;
  right: 10px;
  top: 45px;
  width: 200px;
  z-index: 99999;
}

.dropdown-menu button {
  background: none;
  border: 0;
  color: var(--dark-color);
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 0 15px 15px;
  position: relative;
  text-align: left;
  transition: background-color 0.3s ease;
  width: 100%;
}

.dropdown-menu button:hover {
  background-color: var(--dark-background-color-tertiary);
}


.dropdown-menu span {
  margin-left: 15px;
}

.preview-button-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

.save-btn:hover {
  color: green;
}

.delete-btn:hover {
  color: red;
}




.caption-btn {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 5px;
}

.caption-btn > .tooltip {
  z-index: 9999;
}

.caption-wrapper {
  margin-top: 10px;
  position: relative;
  
  transition: opacity 0.3s, visibility 0.3s;
}

.caption-header {
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}

.caption-header button {
  background: none;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.caption-header button svg {
  fill: white;
}

.caption-container {
  margin: 0 auto;
  position: relative;
  width: 95%;
}

.caption-input-empty:before {
  color: gray;
  content: 'Add a caption';
}

.caption-input {
  background: rgba(0, 0, 0, .5);
  border: 0;
  border-radius: 5px 5px 0 0;
  color: white;
  padding: 15px 15px 5px 15px;
  width: 100%;
}

.caption-input:focus {
  outline: none;
}

.caption {
  bottom: 0;
  color: white;
  padding: 10px;
  position: absolute;
  width: 100%;
}


/* not sure what the following does */

.font-size-menu {
  align-items: center;
  background-color: white;
  border-radius: 0 0 5px 5px;
  color: black;
  
  font-size: 13px;
  padding: 20px 15px;
  width: 100%;
}

.font-size-menu label {
  margin-right: 10px;
}

.font-size-menu input {
  height: 5px;
}

.font-size-menu span {
  margin-left: 10px;
}

.text-align-menu {
  align-items: center;
  background-color: white;
  border-radius: 0 0 5px 5px;
  display: flex;
  font-size: 13px;
  padding: 15px;
  width: 100%;
}

.text-align-menu span {
  margin-right: 5px; 
}

.text-align-menu button {
  background: none;
  border: 1px solid #888;
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px 10px;
}

.color-menu {
  background-color: white;
  border-radius: 0 0 5px 5px;
  display: flex;
  font-size: 13px;
  padding: 15px;
  width: 100%;
}

.color-menu div {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.color-menu div input {
  background: none;
  border: 0;
}

.color-menu div input[type=checkbox] {
  height: 15px;
  width: 15px;
}

.color-menu div:last-child {
  margin-bottom: 0;
}

.color-menu div:first-child label {
  margin-right: 20px; 
}

.color-menu div label {
  margin-right: 10px;
}

.emoji-container button {
  background: none;
  border: 0;
  padding: 5px;
}

.caption-emoji-menu {
  background: white;
  border-radius: 0 0 5px 5px;
  height: 150px;
  overflow-y: scroll;
  padding: 15px;
}

.caption-suggestions {
  background-color: white;
  border-radius: 5px;
  bottom: -150px;
  left: 0;
  position: absolute;
  width: 100%;
}

.caption-suggestions > div {
  display: flex;
  padding: 15px;
}

.caption-suggestions > div div:nth-of-type(2) {
  margin-left: 15px;
}

/*    */



.dropdown-menu {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
  list-style: none;
  position: absolute;
  right: 10px;
  top: 45px;
  width: 200px;
  z-index: 99999;
}


.dropdown-menu button {
  background: none;
  border: 0;
  color: var(--dark-color);
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 0 15px 15px;
  position: relative;
  text-align: left;
  transition: background-color 0.3s ease;
  width: 100%;
}

.dropdown-menu button:hover {
  background-color: var(--dark-background-color-tertiary);
}


.dropdown-menu span {
  margin-left: 15px;
}

.preview-button-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

.save-btn:hover {
  color: green;
}

.delete-btn:hover {
  color: red;
}




/* End Card */


/**
 * Media Editor
 */

.media-editor {
  background: rgba(0, 0, 0, .5);
  border: 0;
  border-radius: 5px;
  color: white;
  margin: 10px auto;
  padding: 5px 15px;
  position: relative;
  width: 95%;
}

.media-editor div:first-child {
  display: flex;
  justify-content: space-between;
}

.media-editor button {
  background: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 40px;
}

.media-editor svg {
  fill: white;
}

.swap-segment-menu {
  justif-content: space-evenly;
}

.filters-menu {
  padding-left: 20px;
}

.filters-menu button {
  display: block;
  font-size: 16px;
  text-align: left;
  width: 200px;
}

.filters-menu button svg {
  margin-right: 10px;
}

.filters-menu input {
  margin-right: 20px;
}

.filters-menu div {
  font-size: 16px;
  margin-top: 10px;
}


@media (prefers-color-scheme: dark) {
  
  body {
    background-color: var(--dark-mode-background);
    color: var(--dark-mode-color);
  }

  .sidebar {
    background-color: var(--dark-mode-background-tertiary) !important;
    color: var(--dark-mode-color) !important;
  }

  .sidebar-overlay {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .search {
    background-color: var(--dark-mode-background-quaternary);
    color: var(--dark-mode-color);
  }

  .sidebar-btn-container {
    border-top: 1px solid var(--dark-mode-border-color) !important;
  }
  
  .sidebar-btn svg {
    fill: var(--dark-mode-color) !important;
  }

  .navigation {
    border-bottom: 1px solid var(--dark-mode-border-color);
    color: var(--dark-mode-color);
  }

  .navigation:hover {
    background-color: var(--dark-mode-background-secondary);
  }

  .navigation svg {
    fill: var(--dark-mode-color);
  }
  
}


@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-mode-background);
    color: var(--light-mode-color);
  }
}


@media (max-width: 500px) {
  
  .modal {
    border: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}

