/*!*****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/CloseButton/CloseButton.module.css ***!
  \*****************************************************************************************************/
/* Close Overlay Button */

.nRmVNOUPXPt07q2izPkS {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;
}

.nRmVNOUPXPt07q2izPkS:active {
  background: var(--button--active);
}

/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Profile/FollowButton/FollowButton.module.css ***!
  \***************************************************************************************************************/
/* Profile Follow Button */

.LxVk1HYZYwEEuUZ934ZA {
  align-items: center;
  border: 0;
  border-radius: 8px;
  background: var(--text);
  color: var(--background);
  display: flex;
  font-weight: bold;
  font-size: 18px;
  gap: 10px;
  height: 44px;
  justify-content: center;  
  margin: 24px auto 0 auto;
  width: calc(100% - 48px);
}

/*!*********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Profile/FollowStats/FollowingButton/FollowingButton.module.css ***!
  \*********************************************************************************************************************************/
/* Profile User Stat Following Button */

.s2g8IVHQcXdzvp0yLgzf {
  background: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
  user-select: none;
}

.s2g8IVHQcXdzvp0yLgzf:active {
  background: var(--button-active);
}

/*!*********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Profile/FollowStats/FollowersButton/FollowersButton.module.css ***!
  \*********************************************************************************************************************************/
/* Profile User Stat Following Button */

.TdNADfbRmDXUlRkNMYRO {
  background: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
  user-select: none;
}

.TdNADfbRmDXUlRkNMYRO:active {
  background: var(--active-button);
}

/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Profile/FollowStats/FollowStats.module.css ***!
  \*************************************************************************************************************/
/* Follow Stats List */

.nhqSoBloQwWMoUudU1C4 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 24px;
}

.nhqSoBloQwWMoUudU1C4 li {
  
}

.nhqSoBloQwWMoUudU1C4 li button {
  background: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
  user-select: none;
}

.nhqSoBloQwWMoUudU1C4 li button:active {
  background: var(--active-button);
}

/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Profile/Profile.module.css ***!
  \*********************************************************************************************/
/* User Profile */

.bRXXEOH49SRQPlqWmeUf {
  background-color: var(--surface);
  height: 100dvh;
  left: 0;
  outline: none;
  overflow-y: scroll;
  padding: 42px 8px 0 8px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

.bRXXEOH49SRQPlqWmeUf * {
  /* border: 1px dashed red; */
}

.bRXXEOH49SRQPlqWmeUf header {

}

.bRXXEOH49SRQPlqWmeUf header {
  align-items: center;
  display: flex;
}

.bRXXEOH49SRQPlqWmeUf header div {
  flex: 1;
  padding: 0 16px;
}

.bRXXEOH49SRQPlqWmeUf header img {
  display: block;
  height: 128px;
  width: 128px;
  
  background: white;
  border-radius: 50%;
}

.bRXXEOH49SRQPlqWmeUf header h1 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 8px;
}

.bRXXEOH49SRQPlqWmeUf address {
  font-size: var(--font-size);
  margin-top: 8px;
}

.bRXXEOH49SRQPlqWmeUf p {
  font-size: var(--font-size);
  margin-top: 8px;
}


