/*!****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/features/Camera/ViewPort/viewport.module.css ***!
  \****************************************************************************************************/
/* Camera View Port CSS Module */

.grTGSKLly6qq95OQDiW2 { 
  object-fit: cover;
  height: 100dvh;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  
  width: 100%;

  will-change: transform, opacity;
  transform: translateZ(0);

  z-index: 3;

  border: 1px dashed green;
}

/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/features/Camera/BackButton/backbutton.module.css ***!
  \********************************************************************************************************/
/* Camera BackButton CSS Module */

.gZVVsZaSeQmj5r1OIILk {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  left: 0px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-size: 22px; 
  height: 45px;
  position: absolute;
  top: 0px;
  width: 45px;
  z-index: 4;

  border: 1px dashed red;
}

.gZVVsZaSeQmj5r1OIILk svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/features/Camera/RecordTimer/recordtimer.module.css ***!
  \**********************************************************************************************************/
/* Camera Record Timer CSS Module */

.r0seWmD9fFTfnWs1dnL2 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white; 
  font-size: 24px;
  font-weight: bold;
  left: 50%;
  top: 10px;
  padding: 5px 10px;
  position: absolute;
  transform: translateX(-50%);
  z-index: 4;

  border: 1px dashed red;
}

/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/features/Camera/LightButton/lightbutton.module.css ***!
  \**********************************************************************************************************/
/* Camera Light Button CSS Module */

.MTUqodLc4vgQcRBbnX_w {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 22px; 
  cursor: pointer;
  font-size: 18px;
  height: 45px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 45px;
  z-index: 4;

  border: 1px dashed red;
}

.MTUqodLc4vgQcRBbnX_w svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/features/Camera/MuteButton/mutebutton.module.css ***!
  \********************************************************************************************************/
/* Camera Mute Button CSS Module */

.AZOIeRKTIYCyq6xhU5pg {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  bottom: 0; /* 20px */
  color: white;
  cursor: pointer;
  font-size: 22px; 
  height: 45px;
  /* padding: 5px 10px; */
  position: absolute;
  right: 0;
  width: 45px; 
  z-index: 4;

  border: 1px dashed red;
}

.AZOIeRKTIYCyq6xhU5pg svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/features/Camera/RecordButton/recordbutton.module.css ***!
  \************************************************************************************************************/
/* Camera Record Button CSS Module */

.w89rbEAJsHlUCU9l6uRm { 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  /* margin: 0 auto 25px auto; */
  padding: 10px;
  width: 78px;
  z-index: 4;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  border: 1px dashed red;
}

.a04sK3kPpe_weYYEkKGQ {
  background-color: #e5e4e2;
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  height: 56px;
  padding: 0 26px; 
}

.a04sK3kPpe_weYYEkKGQ:hover {
  background-color: #f2f3f4;
}

.Elk2VUJfyKgH6N3pWbkT:active {
  background-color: #cb4154;
}

/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/features/Camera/LocationButton/locationbutton.module.css ***!
  \****************************************************************************************************************/
/* Camera Location Button CSS Module*/

.x0rVinpmgIALQbVh1IO6 {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-size: 22px; 
  height: 45px;
  left: 0;
  position: absolute;
  width: 45px; 
  z-index: 4;

  border: 1px dashed red;
}

.x0rVinpmgIALQbVh1IO6 svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*!*****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/features/Camera/camera.module.css ***!
  \*****************************************************************************************/
/* camera */

.NmsyPqws04RTPJm_5hR6 {
  height: 100dvh;
  left: 0;
  max-width: 500px;
  
  margin: 0 auto;
  
  position: absolute;
  right: 0;
  top: 0;
  

  border: 1px dashed red;
}

