/*!*******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Drawer/drawer.module.css ***!
  \*******************************************************************************************/
/* Drawer Navigation */

.g4TFtCgLYfF1xSo0uGH4 {}

.l7CHW7dtXPfpkrV47YxS {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  display: flex;
}

.g4TFtCgLYfF1xSo0uGH4 {
  width: 280px;
  height: 100%;
  background: white;
  padding: 20px;
  box-shadow: 2px 0 20px rgba(0,0,0,0.2);

  transform: translateX(0);
  animation: lXY_AhQgaIWaWW0uKgZ2 0.25s ease;
}

@keyframes lXY_AhQgaIWaWW0uKgZ2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

._3ayFbvwBsDY7hQnbIs5 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

._3ayFbvwBsDY7hQnbIs5 a {
  text-decoration: none;
  font-size: 18px;
}

