/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/features/Authentication/Registration/Registration.module.css ***!
  \********************************************************************************************************************/
/* Authentication Registration Flow */

.YI7kjk9TyPudyOt3n29I {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 500px;
  padding: 16px;
  width: 100%;
}

  /* Logo placeholder */
.YI7kjk9TyPudyOt3n29I div:first-child {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
}

/*!*****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/CloseButton/CloseButton.module.css ***!
  \*****************************************************************************************************/
/* Close Overlay Button */

.nRmVNOUPXPt07q2izPkS {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;

  border: 1px dashed red;
}

.nRmVNOUPXPt07q2izPkS:active {
  background-color: var(--active-button);
}

.nRmVNOUPXPt07q2izPkS svg {  
  fill: var(--text);
}

/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/features/Authentication/Registration/RegistrationForm/RegistrationForm.module.css ***!
  \*****************************************************************************************************************************************/
/* Authentication Registration Form */

.w7hNpZlVuqjzaVtvMlHw {
  background-color: var(--background); 
  height: 100dvh;
  padding: 16px;
  width: 100%;
}

.w7hNpZlVuqjzaVtvMlHw h1 {
  color: var(--text);
  font-size: 24px;
  font-weight: normal;
  padding: 16px 0;
  text-align: center;
}

.w7hNpZlVuqjzaVtvMlHw > div {
  position: relative;
  margin-bottom: 32px;
} 

.w7hNpZlVuqjzaVtvMlHw > div:last-of-type {
  margin-bottom: 0;
}

.w7hNpZlVuqjzaVtvMlHw > div > input {
  background-color: var(--input);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  font-size: 18px;
  height: 44px;
  padding-left: 48px;
  width: 100%;
}

.w7hNpZlVuqjzaVtvMlHw > div > input:focus {
  outline: none;
}

.w7hNpZlVuqjzaVtvMlHw > div > input::placeholder {
  color: var(--text);
  opacity: 0.6;
}

.w7hNpZlVuqjzaVtvMlHw > div > svg {
  fill: var(--text);
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.w7hNpZlVuqjzaVtvMlHw details {
  color: var(--text);
  font-size: 14px;
  line-height: 1.6;
  margin: 16px 0;
}

.w7hNpZlVuqjzaVtvMlHw summary {
  cursor: pointer;
  width: 192px;
}

.w7hNpZlVuqjzaVtvMlHw ul {
  list-style-type: none;
  padding-left: 0;
  margin: 5px 0 0 0;
}

.w7hNpZlVuqjzaVtvMlHw li {
  margin-left: 12px;
}

.w7hNpZlVuqjzaVtvMlHw button[type="submit"] {
  align-items: center;
  background: var(--text);
  border: 1px solid var(--background);
  border-radius: 10px;
  color: var(--background);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

