/*!*****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/CloseButton/CloseButton.module.css ***!
  \*****************************************************************************************************/
/* Close Overlay Button */

.nRmVNOUPXPt07q2izPkS {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;
}

/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Dropdown/DropdownButton/DropdownButton.module.css ***!
  \********************************************************************************************************************/
/* Dropdown Button */

.abpuI_3Na2ydJj24PSqD {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 50px;
  color: var(--dropdown-text);
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;
}

/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Dropdown/ListItemButton/ListItemButton.module.css ***!
  \********************************************************************************************************************/
/* Dropdown List Item Button */

.OGbMvckCuIXNF7ZaS8mY {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  flex: 1;
  height: 44px;
  justify-content: flex-start;
  padding: 0 8px;
  width: 100%;

  border: 1px dashed yellow;
}

/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Dropdown/DropdownList/DropdownList.module.css ***!
  \****************************************************************************************************************/
/* Dropdown List */

.SaGbxhcxIln6hpTb0Klg {
  background-color: var(--dropdown-bg);
  border: 1px solid var(--dropdown-border);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: auto;
  list-style: none;
  min-width: 250px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 48px;
  transition: opacity 0.2s ease-in-out;
  z-index: 400;
}

/* not just opacity, but transition height and width to grow from right to left */

.ANLuoq2GOx9WvRvddcjR {
  opacity: 1;
}

.SaGbxhcxIln6hpTb0Klg li {
  display: flex;
}

.SaGbxhcxIln6hpTb0Klg li:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.SaGbxhcxIln6hpTb0Klg li:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*!***********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Dropdown/Dropdown.module.css ***!
  \***********************************************************************************************/
/* Dropdown Button */

.fsRjQsePCOqWh1LwmMMg {
  position: relative;
}


/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Profile/FollowButton/FollowButton.module.css ***!
  \***************************************************************************************************************/
/* Profile Follow Button */

.LxVk1HYZYwEEuUZ934ZA {
  align-items: center;
  border: 0;
  border-radius: 8px;
  background: var(--text);
  color: var(--background);
  display: flex;
  font-weight: bold;
  font-size: 18px;
  gap: 10px;
  height: 44px;
  justify-content: center;  
  margin: 24px auto 0 auto;
  width: calc(100% - 48px);
}

/*!*********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Profile/FollowStats/FollowingButton/FollowingButton.module.css ***!
  \*********************************************************************************************************************************/
/* Profile User Stat Following Button */

.s2g8IVHQcXdzvp0yLgzf {
  background: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
  user-select: none;
}

.s2g8IVHQcXdzvp0yLgzf:active {
  background: var(--button-active);
}

/*!*********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Profile/FollowStats/FollowersButton/FollowersButton.module.css ***!
  \*********************************************************************************************************************************/
/* Profile User Stat Following Button */

.TdNADfbRmDXUlRkNMYRO {
  background: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
  user-select: none;
}

.TdNADfbRmDXUlRkNMYRO:active {
  background: var(--button-active);
}

/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Profile/FollowStats/FollowStats.module.css ***!
  \*************************************************************************************************************/
/* Follow Stats List */

.nhqSoBloQwWMoUudU1C4 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 24px;
}

.nhqSoBloQwWMoUudU1C4 li {
  
}

.nhqSoBloQwWMoUudU1C4 li button {
  background: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
  user-select: none;
}

.nhqSoBloQwWMoUudU1C4 li button:active {
  background: var(--button-active);
}

/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Profile/Profile.module.css ***!
  \*********************************************************************************************/
/* User Profile */

.bRXXEOH49SRQPlqWmeUf {
  background-color: var(--surface-raised);
  height: 100dvh;
  left: 0;
  outline: none;
  overflow-y: scroll;
  padding: 42px 8px 0 8px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

.WMUjEeFRanmV9SHehMGp nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.bRXXEOH49SRQPlqWmeUf header {

}

.bRXXEOH49SRQPlqWmeUf header {
  align-items: center;
  display: flex;
}

.bRXXEOH49SRQPlqWmeUf header div {
  flex: 1;
  padding: 0 16px;
}

.bRXXEOH49SRQPlqWmeUf header img {
  display: block;
  height: 128px;
  width: 128px;
  
  background: white;
  border-radius: 50%;
}

.bRXXEOH49SRQPlqWmeUf header h1 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 8px;
}

.bRXXEOH49SRQPlqWmeUf address {
  font-size: var(--font-size);
  margin-top: 8px;
}

.bRXXEOH49SRQPlqWmeUf p {
  font-size: var(--font-size);
  margin-top: 8px;
}


