/*!*****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/CloseButton/CloseButton.module.css ***!
  \*****************************************************************************************************/
/* Close Overlay Button */

.nRmVNOUPXPt07q2izPkS {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;

  border: 1px dashed red;
}

.nRmVNOUPXPt07q2izPkS:active {
  background-color: var(--active-button);
}

.nRmVNOUPXPt07q2izPkS svg {  
  fill: var(--text);
}

/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/features/Authentication/ForgotPassword/ForgotPassword.module.css ***!
  \************************************************************************************************************************/
/* Forgot Password Auth Flow */

.UpzbVCiMyjKecQ6kMOQo {
  background-color: var(--background); 
  height: 100dvh;
  width: 100%; 
}

.UpzbVCiMyjKecQ6kMOQo h1 {
  color: var(--text);
  font-size: 24px; 
  font-weight: normal;
  margin: 15px 0;
  text-align: center;
}

.UpzbVCiMyjKecQ6kMOQo div {
  position: relative;
}

.UpzbVCiMyjKecQ6kMOQo > div:first-of-type {
  margin-bottom: 15px;
}

.UpzbVCiMyjKecQ6kMOQo input {
  border: 1px solid var(--input-border);
  border-radius: 10px;
  color: var(--text);
  font-size: var(--font-size);
  padding: 15px 15px 15px 40px;
  width: 100%;
}

.UpzbVCiMyjKecQ6kMOQo svg {
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

