/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Profile/Profile.module.css ***!
  \*********************************************************************************************/
/* User Profile */

.bRXXEOH49SRQPlqWmeUf {
  background-color: var(--background);
  height: 100dvh;
  left: 0;
  overflow-y: scroll;
  padding: 42px 8px 0 8px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

.bRXXEOH49SRQPlqWmeUf header {
  
}

.bRXXEOH49SRQPlqWmeUf div {
  
}

