/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Dropdown/ListItemButton/ListItemButton.module.css ***!
  \********************************************************************************************************************/
/* Dropdown List Item Button */

.OGbMvckCuIXNF7ZaS8mY {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  flex: 1;
  height: 44px;
  justify-content: flex-start;
  padding: 0 8px;
  width: 100%;

  border: 1px dashed yellow;
}

.OGbMvckCuIXNF7ZaS8mY:active {
  background: var(--button-active);
}

/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Dropdown/DropdownList/DropdownList.module.css ***!
  \****************************************************************************************************************/
/* Dropdown List */

.SaGbxhcxIln6hpTb0Klg {
  background-color: var(--surface-raised);
  border: 1px solid var(--border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  list-style: none;
  position: absolute;
  top: 48px;
  right: 0;
  min-width: 250px;
  z-index: 400;
}

.SaGbxhcxIln6hpTb0Klg li {
  display: flex;
  
  border: 1px dashed orange;
}

