/*!*****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/CloseButton/CloseButton.module.css ***!
  \*****************************************************************************************************/
/* Close Overlay Button */

.nRmVNOUPXPt07q2izPkS {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;

  border: 1px dashed red;
}

.nRmVNOUPXPt07q2izPkS:active {
  background-color: var(--active-button);
}

.nRmVNOUPXPt07q2izPkS svg {  
  fill: var(--text);
}

/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/features/Authentication/Registration/Registration.module.css ***!
  \********************************************************************************************************************/
/* Authentication Registration Form */

.YI7kjk9TyPudyOt3n29I {
  color: var(--text);
  height: 100dvh;
  padding: 16px;
  width: 100%;
}

.YI7kjk9TyPudyOt3n29I h1 {
  font-size: 24px;
  font-weight: normal;
  padding: 16px 0;
  text-align: center;
}

.YI7kjk9TyPudyOt3n29I > div {
  position: relative;
  margin-bottom: 32px;
} 

.YI7kjk9TyPudyOt3n29I > div > input {
  background-color: var(--input);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  font-size: 18px;
  height: 44px;
  padding-left: 48px;
  width: 100%;
}

.YI7kjk9TyPudyOt3n29I > div:last-child {
  margin-bottom: 0;

  border: 1px dashed red;
}

.YI7kjk9TyPudyOt3n29I > div > input:focus {
  outline: none;
}

.YI7kjk9TyPudyOt3n29I > div > input::placeholder {
  color: var(--text);
  opacity: 0.6;
}

.YI7kjk9TyPudyOt3n29I > div > svg {
  fill: var(--text);
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.YI7kjk9TyPudyOt3n29I details {
  color: var(--text);
  font-size: 14px;
  line-height: 1.6;
  margin: 16px 0;
}

.YI7kjk9TyPudyOt3n29I summary {
  cursor: pointer;
  width: 160px;
}

.YI7kjk9TyPudyOt3n29I ul {
  list-style-type: none;
  padding-left: 0;
  margin: 5px 0 0 0;
}

.YI7kjk9TyPudyOt3n29I li {
  margin-left: 12px;
}


.YI7kjk9TyPudyOt3n29I button[type="submit"] {
  align-items: center;
  background: var(--text);
  border: 1px solid var(--background);
  border-radius: 10px;
  color: var(--background);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

