/*!*****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/CloseButton/CloseButton.module.css ***!
  \*****************************************************************************************************/
/* Close Overlay Button */

.nRmVNOUPXPt07q2izPkS {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;
}

/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Dropdown/DropdownButton/DropdownButton.module.css ***!
  \********************************************************************************************************************/
/* Dropdown Button */

.abpuI_3Na2ydJj24PSqD {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;
}

/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Dropdown/ListItemButton/ListItemButton.module.css ***!
  \********************************************************************************************************************/
/* Dropdown List Item Button */

.OGbMvckCuIXNF7ZaS8mY {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  flex: 1;
  height: 44px;
  justify-content: flex-start;
  padding: 0 8px;
  width: 100%;

  border: 1px dashed yellow;
}

/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Dropdown/DropdownList/DropdownList.module.css ***!
  \****************************************************************************************************************/
/* Dropdown List */

.SaGbxhcxIln6hpTb0Klg {
  background-color: var(--surface-raised);
  border: 1px solid var(--border-raised);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  list-style: none;
  min-width: 250px;
  position: absolute;
  right: 0;
  top: 48px;
  z-index: 400;
}

.SaGbxhcxIln6hpTb0Klg li {
  display: flex;
}

.SaGbxhcxIln6hpTb0Klg li:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.SaGbxhcxIln6hpTb0Klg li:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*!***********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/Dropdown/Dropdown.module.css ***!
  \***********************************************************************************************/
/* Dropdown Button */

.fsRjQsePCOqWh1LwmMMg {
  position: relative;
}


/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/SearchForm/SearchInput/SearchInput.module.css ***!
  \****************************************************************************************************************/
/* Search Form Input */

.E5mhg1QQHXBJyTe4V76v {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 50px;
  color: var(--input-text);
  font-size: 18px;
  height: 44px;
  padding-left: 44px;
  width: 100%;
}

.E5mhg1QQHXBJyTe4V76v:focus {
  outline: none;
}

.E5mhg1QQHXBJyTe4V76v::-webkit-search-decoration,
.E5mhg1QQHXBJyTe4V76v::-webkit-search-cancel-button,
.E5mhg1QQHXBJyTe4V76v::-webkit-search-results-button,
.E5mhg1QQHXBJyTe4V76v::-webkit-search-results-decoration {
  cursor: pointer;
  height: 24px;
  padding-right: 8px;
  width: 24px;
}


/*!****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/SearchForm/SpeechRecognitionButton/SpeechRecognitionButton.module.css ***!
  \****************************************************************************************************************************************/
/* Search Form Speech Recognition Button */

.iMFEEY1YvDzgj8w_W3wI {
  align-items: center; 
  background: none;
  border: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
}

.iMFEEY1YvDzgj8w_W3wI svg {
  border: 2px dashed pink;
  border-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.iMFEEY1YvDzgj8w_W3wI:active {
  background: var(--button-active); /* was #666 */
}

.iMFEEY1YvDzgj8w_W3wI.mDwrKHdH0eu7Q2AAX1Yr svg {
  fill: #00C853;
}

/*!***************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/SearchForm/SearchForm.module.css ***!
  \***************************************************************************************************/
/* Search Form */

.SLy02R_oWPksADBQiBuZ {
  background-color: var(--surface);
  height: 100dvh;
  left: 0;
  overflow-y: scroll;
  padding: 40px 8px 0 8px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

.SLy02R_oWPksADBQiBuZ nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.SLy02R_oWPksADBQiBuZ form {
  position: relative;
}

.SLy02R_oWPksADBQiBuZ form > svg:first-of-type {
  align-items: center; 
  display: flex;
  justify-content: center;
  border: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 44px;
  padding: 0 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 44px; 
}

.SLy02R_oWPksADBQiBuZ ul {
  list-style-type: none;
  margin-top: 8px;
  width: 100%;
}

.SLy02R_oWPksADBQiBuZ ul li {
  color: var(--text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: 12px;
  width: 100%;
}

