/* Forgot Password Auth Flow */

.forgotPassword {
  background-color: var(--background); 
  height: 100dvh;
  padding: 16px;
  width: 100%;
}

.forgotPassword h1 {
  color: var(--text);
  font-size: 24px;
  font-weight: normal;
  padding: 16px 0;
  text-align: center;
}

.forgotPassword div {
  position: relative;
}

.forgotPassword div:first-of-type {
  margin-bottom: 15px;
}

.forgotPassword input {
  border: 1px solid var(--input-border);
  border-radius: 10px;
  color: var(--text);
  font-size: var(--font-size);
  padding: 15px 15px 15px 40px;
  width: 100%;
}

.forgotPassword > div > svg {
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.forgotPassword button[type="submit"] {
  align-items: center;
  background: var(--text);
  border: 1px solid var(--background);
  border-radius: 10px;
  color: var(--background);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}
