/* Forgot Password Auth Flow */

.forgotPassword {
  background-color: var(--background); 
  width: 100%; 
}

.forgotPassword h1 {
  color: var(--text);
  font-size: 24px; 
  font-weight: normal;
  margin: 15px 0;
  text-align: center;
}

.forgotPassword div {
  position: relative;
}

.forgotPassword > div:first-of-type {
  margin-bottom: 15px;
}

.forgotPassword input {
  border: 1px solid var(--input-border);
  border-radius: 10px;
  color: var(--text);
  font-size: var(--font-size);
  padding: 15px 15px 15px 40px;
  width: 100%;
}

.forgotPassword svg {
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
