/* User Profile */

.profile {
  background-color: var(--background);
  height: 100dvh;
  left: 0;
  overflow-y: scroll;
  padding: 42px 8px 0 8px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

.profile header {
  
}

.profile div {
  
}
