/* User Profile */

.profile {
  background-color: var(--surface-raised);
  height: 100dvh;
  left: 0;
  outline: none;
  overflow-y: scroll;
  padding: 42px 8px 0 8px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

.search nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.profile header {

}

.profile header {
  align-items: center;
  display: flex;
}

.profile header div {
  flex: 1;
  padding: 0 16px;
}

.profile header img {
  display: block;
  height: 128px;
  width: 128px;
  
  background: white;
  border-radius: 50%;
}

.profile header h1 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 8px;
}

.profile address {
  font-size: var(--font-size);
  margin-top: 8px;
}

.profile p {
  font-size: var(--font-size);
  margin-top: 8px;
}

