/* Search Form Close Profile Button */

.closeSearchButton {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;
}

.closeSearchButton:active {
  background-color: #666;
}

.closeSearchButton svg {  
  fill: var(--text);
}
