/* Search Form Close Profile Button */

.closeButton {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;

  border: 1px dashed red;
}

.closeButton:active {
  background-color: var(--active-button);
}

.closeButton svg {  
  fill: var(--text);
}
