/* Confirm Forgot Password Auth Flow */

.confirmForgotPassword {
  background-color: var(--background); 
  height: 100dvh;
  padding: 16px;
  width: 100%; 
}

.confirmForgotPassword h1 {
  color: var(--text);
  font-size: 24px; 
  font-weight: normal;
  margin: 15px 0;
  text-align: center;
}
