/* Feed */

.feed {

  border: 1px dashed yellow;
  
  overflow-y: auto;
  
/*
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
*/
  
  z-index: 0;
}

/*
.feedNode {
  height: 100dvh;
  width: 100%;
  scroll-snap-align: start;

  display: flex;
  align-items: center;
  justify-content: center;
}
*/
