/* Feed */

.feed {
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;

  scroll-behavior: smooth;  
  
  z-index: 0;
}


.feed article {
  height: 100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100dvw;

  background: #888;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto 4px auto;
}

