/* Main */

.main {
  height: 100%;
  margin: 0 auto;
  max-width: 500px;
  overflow-x: hidden;
  width: 100%;

  border: 1px dashed red;
}

@media (max-width: 500px) {
  .main {
    margin: 0;
  }
}
