/* Authentication Landing UI */

.authUI {
  background-color: var(--background);
  height: 100dvh;
  max-width: 500px;
  padding: 16px;
  width: 100%;
}

/* Logo placeholder */
.authUI div {
  align-items: center;
  display: flex;
  height: 50dvh;
  justify-content: center;
  
  border: 1px dashed red;
}

.authUI hr {
  margin: 0 16px 16px 16px;
}
