/* Authentication Landing UI */

.authUI {
  background-color: var(--background);
  height: 100dvh;
  max-width: 500px;
  padding: 50dvh 16px 0 16px;
  width: 100%;
}

.authUI hr {
  margin: 0 16px 16px 16px;
}
