/* Authentication Landing UI */

.authUI {
  background-color: var(--background);
  height: 100dvh;
  max-width: 500px;
  padding: 16px;
  width: 100%;
}

/* Logo placeholder */
.authUI p {
  height: 50dvh;
}

.authUI hr {
  margin: 0 16px 16px 16px;
}
