/* camera */

.camera {
  height: 100dvh;
  
  
  /* 
  left: 0;


  */
  margin: 0 auto;
  max-width: 500px; 
  position: absolute;
  right: 0;
  top: 0;

  width: 100%;

  border: 1px dashed red;
}
