/* Authentication Registration Form */

.registrationForm {
  background-color: var(--background); 
  height: 100dvh;
  padding: 16px;
  width: 100%;
}

.registrationForm h1 {
  color: var(--text);
  font-size: 24px;
  font-weight: normal;
  padding: 16px 0;
  text-align: center;
}

.registrationForm div {
  position: relative;
  margin-bottom: 32px;
} 

.registrationForm div:last-of-type {
  margin-bottom: 0;
}

.registrationForm div input {
  background-color: var(--input);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  font-size: 18px;
  height: 44px;
  padding-left: 48px;
  width: 100%;
}

.registrationForm div input:focus {
  outline: none;
}

.registrationForm div input::placeholder {
  color: var(--text);
  opacity: 0.6;
}

.registrationForm > div > svg {
  fill: var(--text);
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.registrationForm details {
  color: var(--text);
  font-size: 14px;
  line-height: 1.6;
  margin: 16px 0;
}

.registrationForm summary {
  cursor: pointer;
  width: 192px;
}

.registrationForm ul {
  list-style-type: none;
  padding-left: 0;
  margin: 5px 0 0 0;
}

.registrationForm li {
  margin-left: 12px;
}

.registrationForm button[type="submit"] {
  align-items: center;
  background: var(--text);
  border: 1px solid var(--background);
  border-radius: 10px;
  color: var(--background);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}
