/* Auth UI Sign In Button */

.signUpButton {
  align-items: center;
  background: none;
  border: 1px solid var(--text);
  border-radius: 10px;
  color: var(--text);
  display: flex;
  font-size: 18px;
  justify-content: center;
  padding: 16px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

.signUpButton:active {
  background-color: var(--active-button);
}
