/* Navigation Camera Button */

.cameraButton {
  align-items: center; 
  background: var(--surface);
  border: var(--border);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 44px;
  width: 44px;
}

.cameraButton svg {
  flex-shrink: 0;
}

button:focus {
  background: var(--surface);
}
