/* Navigation Camera Button */

.cameraButton {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  height: 64px;
  justify-content: center;
  left: 50%;
  z-index: 9999;
}
