/* Search Form */

.search {
  background: var(--black);
  height: 100dvh;
  left: 0;
  padding: 16px 8px 0 8px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

.search form {
  display: flex;
  justify-content: center;
}

.search form > div {
  align-items: center; 
  display: flex;
  justify-content: center;

  background-color: #444;
  border: 1px solid #555;
  border-left: 0;
  border-right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 40px;
  width: 40px; 
}

.search form input {
  background-color: #444;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  color: var(--white);
  font-size: 18px;
  height: 40px;
  padding-left: 8px;
  width: 100%;
}

.search form input:focus {
  outline: none;
}

.search form input::-webkit-search-decoration,
.search form input::-webkit-search-cancel-button,
.search form input::-webkit-search-results-button,
.search form input::-webkit-search-results-decoration {
  display: none;
}

.search form button {
  align-items: center; 
  display: flex;
  justify-content: center;

  background-color: #444;
  border: 1px solid #555;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  height: 40px;
  width: 40px;

  padding: 0;
}

.search form button:last-child {
  border-right: 1px solid #555;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search form svg {  
  fill: var(--white);

  height: 40px;
  width: 40px;

  border: 1px dashed red;
}
