/* Search Form */

.search {
  background: var(--black);
  height: 100dvh;
  left: 0;
  overflow-y: scroll;
  padding: 16px 8px 0 8px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

.search form {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.search form div:first-child {
  align-items: center; 
  display: flex;
  justify-content: center;
  background-color: #444;
  border: 1px solid #555;
  border-right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 44px;
  padding: 0 8px;
  width: 44px; 
}

.search form div:first-child svg {  
  fill: var(--white);
}

.search form div:last-child {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #444;
  border: 1px solid #555;
  border-left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 44px;
  width: 44px;
}

.search ul {
  color: white;
  font-size: 18px;
  width: 100%;
}

.search ul li {
  margin: 16px 0;
  padding: 0 32px;
  width: 100%
}
