/* Search Form */


.searchForm {
  background: var(--white);
  bottom: 60px;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 50%;
  max-width: 500px;
  position: absolute;
  
  transform: translateX(-50%);
  
  width: 100%;
  
  z-index: 100;
}

.searchForm > svg {
  background-color: #999;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 26px;
  padding: 2px;
}

.searchForm input {
  background-color: #999;
  border: 0;

  padding: 8px;
  margin: 0;

  width: calc(100% - 16px);
  height: 26px;
}

.searchForm input:focus {
  outline: none;
}
