/* Auth Login Flow Forgot Password Button */

.forgotPasswordButton {
  background: none;
  border: 0;
  border-bottom: 1px solid var(--text);
  color: var(--text);
  cursor: pointer;
  font-size: 18px;
}
