/* Authentication Flow */

/* Logo placeholder */
.authentication div {
  align-items: center;
  display: flex;
  height: 32dvh;
  justify-content: center;
}
.authentication div svg {
  fill: var(--text);
}
