/* Authentication Flow */

.authentication {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 16px;
  width: 100%;
}

.authentication h1 {
  margin-bottom: 40px;
}

/*
.authentication div > div:first-of-type {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
}
*/
