/* Authentication Flow */

.authentication * {
  border: 1px dashed red;
}

.authentication {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  height: 100dvh;
  margin: 0 auto;
  max-width: 500px;
  padding: 16px;
  width: 100%;
}

.authentication > div {
  transform: translateY(-50px);
  width: 100%;
}

.authentication div > div:first-of-type {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
}
