/* Primary Header */

.header {
  background: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  border: 1px dashed pink;
}

.header button {
  background: none;
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 22px; 
  height: 45px;
  margin: 6px 8px 0 auto;
  padding-top: 5px;
  position: relative;
  width: 45px; 
}

.header button svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
