/* Close Overlay Button */

.closeButton {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;
}

.closeButton:active {
  background: var(--button--active);
}
