/* Camera View Port CSS Module */

.viewPort { 
  object-fit: cover;
  height: 100%;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  max-width: 100%;
  width: 100%;

  will-change: transform, opacity;
  transform: translateZ(0);
}
