/* User Notifications */

/* the transparent div overlay */
.notifications {
  background-color: rgb(0 0 0 / 25%);
  height: 100dvh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

/* 1. Define the optimized animation */
@keyframes slideUp {
  from {
    /* Start completely off-screen below the bottom edge */
    transform: translateY(100%);
  }
  to {
    /* End at its natural position (0 displacement) */
    transform: translateY(0);
  }
}

/* the bottom sheet */
.notifications section {
  background-color: white;  /* var(--background); */
  bottom: 0;
  height: 50dvh;
  
  left: 0;
  padding-top: 8px;
  position: absolute;
  
  width: 100%;

    /* Use 'forwards' to stay in the final state after animation */
  animation: slideUp 0.6s ease-out forwards;
  
  /* Optional: Ensure it doesn't flicker before starting */
  will-change: transform;
}

/* the grabber handle */
.notifications section div {
  background-color: #ccc;
  border-radius: 3px;
  height: 6px;
  margin: 0 auto;
  touch-action: none;
  width: 40px;
}

/* the grabber handle active */
.notifications section div:active {
  background-color: #888;
}

.notifications ul {
  width: 100%;
}

.notifications ul li {
  width: 100%;
}
