/* User Notifications */

/* the transparent div overlay */
.notifications {
  background-color: rgb(0 0 0 / 50%);
  height: 100dvh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

/* the bottom sheet */
.bottomSheet {
  background-color: var(--background);
  border-top: 1px solid var(--border);
  bottom: 0;
  contain: layout paint;

  height: 50dvh;
  
 /* max-height: 90dvh; */
/*  min-height: 50dvh; */
  
  left: 0;
  padding-top: 8px;
  position: absolute;
  transform: translateY(100%);   /* start hidden */
 /* transition: transform 100ms ease; */
  transition: transform 200ms cubic-bezier(0.25, 1, 0.5, 1);
  touch-action: none;
  width: 100%;
  will-change: transform; /* Ensures it doesn't flicker before starting */
}

.open {
  transform: translateY(0);
}

/* the grabber handle */
.notifications section div {
  background-color: #ccc;
  border-radius: 3px;
  height: 6px;
  margin: 0 auto;
  touch-action: none;
  width: 40px;
}

/* the grabber handle active */
.notifications section div:active {
  background-color: #888;
}

.notifications ul {
  list-style-type: none;
  margin-top: 8px;
  width: 100%;
}

.notifications ul li {
  color: var(--text);
  font-size: 18px;
  padding: 12px;
  width: 100%;
}
