/* User Notifications */

.notifications {
  background-color: rgb(0 0 0 / 50%);
  height: 100dvh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.notification ul {
  background-color: var(--background);
}
