/* Federated Access with Apple Button */

.appleButton {
  background: none;
  border: 1px solid var(--text);
  border-radius: 10px;
  color: var(--text);
  font-size: 18px;
  margin-bottom: 16px;
  padding: 8px;
  text-transform: uppercase;
  width: 100%;
}
