/* Federated Access with Apple Button */

.appleButton {
  background: none;
  border: 1px solid var(--text);
  border-radius: 10px;
  color: var(--text);
  font-size: 18px;
  padding: 16px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

.appleButton:active {
  background-color: var(--active-button);
}
