/* Auth Login Flow Forgot Password Button */

.registrationButton {
  background: var(--text);
  border: 2px solid var(--background);
  border-radius: 5px;
  color: var(--background);
  cursor: pointer;
  font-size: 24px;
  height: 44px;
  width: 100%;
}
