/* Auth Login Flow Forgot Password Button */

.registrationButton {
  background: none;
  border: 2px solid var(--button-alt);
  border-radius: 5px;
  color: var(--button-alt);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  text-transform: uppercase;
  width: 100%;
}

.registrationButton:active {
  background: var(--button-active);
}
