/* Bottom Nav Home Button */

.homeButton {
  background: none;
  padding: 5px;
  cursor: pointer;
  /* Optional: subtle touch feedback */
  transition: transform 0.15s ease, opacity 0.15s ease;
  user-select: none; 

  /* copy to active state: */
  border: 1px solid red;
  border-radius: 5px;
}

/* instead of scaling have the button inset as if being pressed */
.homeButton:active {
  transform: scale(0.85);
  opacity: 0.7;
}
