/* Authentication Login Flow */

.login {
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

  /* Logo placeholder */
.login div:first-child {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
}
.login div:first-child svg {
  fill: var(--text);
}
