/* Authentication Login Form */

.login {
  color: var(--text);

  padding: 16px;
  width: 100%;
}

/* Logo placeholder */
.login > div:first-child {
  align-items: center;
  display: flex;
  height: 16dvh;
  justify-content: center;
}
.login > div:first-child > svg {
  fill: var(--text);
}


.login form > div {
  position: relative;
}

.login form > div:first-child {
  margin-bottom: 32px;
} 

.login form > div:last-child { 
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.login form > div > input {
  background-color: var(--input);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  font-size: 18px;
  height: 44px;
  padding-left: 48px;
  width: 100%;
}

.login form > div > input:focus {
  outline: none;
}

.login form > div > input::placeholder {
  color: var(--text);
  opacity: 0.6;
}

.login form > div > svg {
  fill: var(--text);
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.login form button[type="submit"] {
  align-items: center;
  background: var(--text);
  border: 1px solid var(--background);
  border-radius: 10px;
  color: var(--background);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

.login form > div:last-child button {
  background: none;
  border: 0;
  border-bottom: 1px solid var(--text);
  color: var(--text);
  cursor: pointer;
  font-size: 18px;
}

.login hr {
  margin: 48px 72px;
}

.login > div:last-child {
  padding: 0 40px;
}

