/* Authentication Login Flow */

.login {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 500px;
  padding: 16px;
  width: 100%;
}

  /* Logo placeholder */
.login div:first-child {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
}
.login div:first-child svg {
  fill: var(--text);
}
