/* Camera Button Bottom Nav */

.cameraButton {
  background: #663399;
  border-radius: 50%;
  border-top: 2px solid #ffffff20;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 24px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

  width: 64px;
  height: 64px;

  z-index: 9999;
  
}

.cameraButton svg path {
  filter: url(#inset-shadow);
}
