/* Camera Button Bottom Nav */

.cameraButton {
  background: #663399;
  border-radius: 50%;
  border: 1px solid #ffffff0d;
  cursor: pointer;
  font-size: 24px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

  width: 64px;
  height: 64px;

  z-index: 9999;
  
}


