/* Camera Button Bottom Nav */

.cameraButton {
  align-items: center; 
  background: #663399;
  /* border: 2px solid #ffffff20; */
  border-radius: 50%;
  /* box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  display: flex;
  justify-content: center;

  /* outline: 1px solid white; */
  
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  user-select: none; 

  width: 64px;
  height: 64px;

  z-index: 9999;
  
}


.cameraButton::before {
  content: "";
  position: absolute;
  inset: calc(-1 * var(--border-width));
  border-radius: 50%;

  background: conic-gradient(
    white 0deg 180deg,
    transparent 180deg 360deg
  );

  /* cut out the center to make it a ring */
  -webkit-mask: radial-gradient(
    closest-side,
    transparent calc(100% - var(--border-width)),
    black calc(100% - var(--border-width))
  );
  
  mask: radial-gradient(
    closest-side,
    transparent calc(100% - var(--border-width)),
    black calc(100% - var(--border-width))
  );
}
